:root {
    --blue: #006cfa;
}

[class^='col-'] {
    background-color: var(--blue);
    border: 1px solid white;
    color: white;
    padding: 10px;
    text-align: center;
}

.container + .container {
    margin-top: 20px;
}

[class^='col-']  [class^='col-'] {
    background-color: #00e165;
    border: 1px solid var(--blue);
}

.container.no-text [class^='col-'] {
    padding: 20px;
}

section {
    padding: 10px 0;
}